<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ScreenGrabber.Properties.ExplorerSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="ScreenGrabber.ExplorerSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="ScreenGrabber.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    <add name="ScreenGrabber.Properties.Settings.Database1ConnectionString"
      connectionString="Data Source=|DataDirectory|\SnapsDatabase.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="SnapsDatabaseEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\SnapsDatabase.sdf&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <ScreenGrabber.Properties.ExplorerSettings>
      <setting name="MadeByColumn" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DateColumn" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SnapColumn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VerticalView" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Location" serializeAs="String">
        <value>-1, -1</value>
      </setting>
      <setting name="Size" serializeAs="String">
        <value>750, 580</value>
      </setting>
      <setting name="SplitterDistance" serializeAs="String">
        <value>260</value>
      </setting>
      <setting name="PreviewCollapsed" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
    </ScreenGrabber.Properties.ExplorerSettings>
    <ScreenGrabber.ExplorerSettings>
      <setting name="MadeByColumn" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DateColumn" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SnapColumn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VerticalView" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Position" serializeAs="String">
        <value>-1, -1</value>
      </setting>
      <setting name="Size" serializeAs="String">
        <value>750, 580</value>
      </setting>
      <setting name="SplitterDistance" serializeAs="String">
        <value>260</value>
      </setting>
      <setting name="PreviewCollapsed" serializeAs="String">
        <value>True</value>
      </setting>
    </ScreenGrabber.ExplorerSettings>
    <ScreenGrabber.Properties.Settings>
      <setting name="AutoCapture" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Path" serializeAs="String">
        <value>none</value>
      </setting>
      <setting name="autoSave" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Overwrite" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CustomBounds" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Minimized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartUp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Sticky" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Modifier" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Key" serializeAs="String">
        <value>Oemtilde</value>
      </setting>
      <setting name="grabberPosition" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="grabberSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="PictureSum" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Location" serializeAs="String">
        <value>-1, -1</value>
      </setting>
      <setting name="AutoInitiater" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CloseToTray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaveSnaps" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AccountID" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="SaveDate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DateFont" serializeAs="String">
        <value>Microsoft Sans Serif, 14.25pt, style=Bold</value>
      </setting>
      <setting name="DateColor" serializeAs="String">
        <value>LightSkyBlue</value>
      </setting>
      <setting name="DatePosition" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="DateBackgroundColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="DateBackgroundTransparency" serializeAs="String">
        <value>75</value>
      </setting>
      <setting name="TryDXFirst" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Counter" serializeAs="String">
        <value>00:20:00</value>
      </setting>
      <setting name="CommentEditorPopUp" serializeAs="String">
        <value>False</value>
      </setting>
    </ScreenGrabber.Properties.Settings>
  </userSettings>
  <system.windows.forms jitDebugging="true"/>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
