<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ScreenGrabber.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <userSettings>
    <ScreenGrabber.Properties.Settings>
      <setting name="AutoCapture" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Path" serializeAs="String">
        <value>null</value>
      </setting>
      <setting name="autoSave" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Overwrite" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CustomBounds" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Minimized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartUp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Sticky" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Modifier" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Key" serializeAs="String">
        <value>Oemtilde</value>
      </setting>
      <setting name="grabberPosition" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="grabberSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="Minutes" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Seconds" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="PictureSum" serializeAs="String">
        <value>20</value>
      </setting>
    </ScreenGrabber.Properties.Settings>
  </userSettings>
  <system.windows.forms jitDebugging="true"/>
</configuration>